<div class="form-group">
    <label for="{$instance->id}" class="col-sm-2 control-label">{$instance->label}</label>
    <div class="input-group date col-sm-10 col-md-4">
        <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
        </div>
        <input type="text"
               class="form-control pull-right"
               value="{$instance->value}"
               data-inputmask="'alias': 'yyyy-mm-dd'" data-mask
               id="{$instance->id}"
               name="{$instance->id}">
    </div>
</div>
<script>
$(function () {
    $('#{$instance->id}').datepicker({
        autoclose: true
    });
});
</script>